*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
#site_header{
    background-color: lightyellow;
}
header h1{
        text-align: center;
        padding: 30px;
    }
main{
    background-color: lightgray;
}
#movies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
        
    }

.movie{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: lightyellow;
    padding: 15px;
    margin: 10px 20px;
    height: 600px;
    flex-basis: 313px;
}
    
img{
        width:264px;
    }